<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
   <div class="logo">
       <img src="Logo.png" alt="">
   </div>
   <ul>
       <li><a href="/">Why Alivio</a></li>
       <li><a href="/solutions">Solutions</a></li>
       <li><a href="/community">Community</a></li>
       <li><a href="/pricing">Pricing</a></li>
   </ul>
   <div class="btnnav" ><a href="#">Sign in</a>
    <button>Start trial</button>

</div>
</nav>
    

<section class="four">
    <img src="woman404.jpg" alt="">

</section>

<footer>
    <ul>
<li class="bold"><a href="#">Alivio</a></li>

<li><a href="#">Why Alivio</a></li>
<li><a href="#">Solutions</a></li>
<li><a href="#">Community</a></li>
<li><a href="#">Pricing</a></li>

    </ul>
</footer>


</body>
</html>