<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
   <div class="logo">
       <img src="Logo.png" alt="">
   </div>
   <ul>
       <li><a href="/">Why Alivio</a></li>
       <li><a href="/solutions">Solutions</a></li>
       <li><a href="/community">Community</a></li>
       <li><a href="/pricing">Pricing</a></li>
   </ul>
   <div class="btnnav" ><a href="#">Sign in</a>
    <button>Start trial</button>

</div>
</nav>
    

<section class="firstsec">
<div>
    <h1>Be aware Manage well.</h1>
    <p>Everyone experiences stress in differenz ways. Let Alivio guide you, in a personalized journal
        experience, to overcomee your stress. 
    </p>

    <button>Find Your Way</button>
</div>

</section>

<section>

<article class="communitysec">
    <div>
<img src="Image.jpg" alt="">
</div>

<div>
<h5>Our product</h5>
<h1>You tell us your stress, We make your diary</h1>

<p>Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.</p>
<button>Find Your Way</button>
</div>


</article>

<article class="cardimage">
    <img src="card1.png" alt="">
</article>

</section>







<footer>
    <ul>
<li class="bold"><a href="#">Alivio</a></li>

<li><a href="#">Why Alivio</a></li>
<li><a href="#">Solutions</a></li>
<li><a href="#">Community</a></li>
<li><a href="#">Pricing</a></li>

    </ul>
</footer>


</body>
</html>